<div mat-dialog-title>
  <h3>Blog Form</h3>
</div>
<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input formControlName="author" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea
          formArrayName="comments"
          matInput
          placeholder="Ex. It makes me feel..."
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
